
body{
    background-color: white;
}

.jumbo-color
{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-indent
{
    text-indent: 50px;
}
.bold
{
    font-weight: bold;
}
.about-indent
{
    margin-left: 100px;
}
.contact-margin
{
    margin-left: 100px;
}
.indent
{
    margin-left: 100px;
}

