{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div class="col-sm-12">
<h3 class="my-5 home-indent">About</h3>
<p class="about-indent"> Hello! This is Anuj Patel(19DCE092) and Tanya Patel(19DCE114) from CHARUSAT UNIVERSITY.</p>

<p class="about-indent">We are currently studying Computer Engineering in 4th semester. As part of our Software Group Project,
    we have prepared this blogging website where everyone can share their views and interact with each other. This project has 
    a lot of functions which are user-friendly.
</p>
<p class="about-indent">We further pledge to make some future enhancements which makes this project even more infromative and interactive.
    There are a lot of other pages we'd like to include in the future as this project lacks some of it.
</p>

<p class="about-indent">Thank you so much for visiting our website. Hope you enjoyed BLOGGING with us.
    
</p>
<p class="about-indent">YOURS,
    ANUJ AND TANYA.</p>
	

</div>

{% endblock content %}